* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f5f4;
}

#app {
    max-width: 94%;
    margin: 0 auto;
    padding-top: 1rem;
    line-height: 1.7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, a:hover {
    text-decoration: none;
    font-style: italic;
    color: #0a81ab;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    margin-top: 2rem;
}

.box button {
    padding: 1rem 2rem;
    background-color: #a5e1ad;
    color: #fff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}

.box p {
    border-bottom: 1px solid #444;
}

.box button:last-child {
    background-color: tomato;
}